@media screen and (min-width: 768px) {

    .container{
    min-width: 768px;
}
.text-20-500{
    text-align: start;
}
/* Feature */

.feature-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 76px;
    column-gap: 24px;
    max-width: 1110px;

}


.feature-text{
    width: 356px;
    height: 72px;
}
/* App */
/* Team */

.list-cont{
    gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 800px;
    
    
}
/* Customers */
.customers{
    padding: 96px 0;
}
.customers-link{
width: 168px;
height: 88px;
}
.customers-list{
    max-width: 800px;
    gap: 72px;
    column-gap: 24px;
}
/* Footer */
}