@media screen and (min-width: 768px) {

    .container{
    min-width: 768px;
}
.text-20-500{
    text-align: start;
}
/* Feature */

.feature-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 76px;
    column-gap: 24px;
    max-width: 1110px;

}


.feature-text{
    width: 356px;
    height: 72px;
}
/* App */
/* Team */

.list-cont{
    gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 800px;
    
    
}
/* Customers */
.customers{
    padding: 96px 0;
}
.customers-link{
width: 168px;
height: 88px;
}
.customers-list{
    max-width: 800px;
    gap: 72px;
    column-gap: 24px;
}
/* Footer */
.footer{
    padding-top: 96px;
    padding-bottom: 96px;
    
}
.footer-cont{
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    gap: 72px ;
    column-gap: 24px;
}
.footer-logo{
    justify-content: start;
}

.footer-text{
    margin: 16px 0 0 0;
}
.media-text{
    justify-content: start;
}
.sub-text{
    padding: 0 0 16px 0 ;
    justify-content: center;
}

.footer-sub-menu{
flex-direction: row;
align-items: baseline;
justify-content: baseline;
gap: 24px;
width: auto;


}

.footer-input{
    width: auto;
    height: 40px;
    margin: 0;
    
    
    
}
.footer-btn{
    margin: 0;
    
}
.footer-sub{
    width: 800px;
}

}